<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Seek</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
</head>
<body class="lowercase bg-gray-100">
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="flex items-center">
                                <img class="size-8" src="@Url.Content("~/assets/images/logo.png")" alt="Your Company">
                                <span class="ml-2 text-xl font-bold text-white">Seek</span>
                            </div>                            
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a asp-area="" asp-controller="Courses" asp-action="Index" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()
        
    </div>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
